/* EXTERNAL FONTS */
@font-face{
	font-family:'OpenSans', sans-serif;
	src:url(../fonts/OpenSans-Light.ttf),
	src:url(../fonts/OpenSans-Regular.ttf),
}
@font-face{
	font-family:'ProximaNova',sans-serif;
	src:url(../fonts/ProximaNovaT-Thin.ttf),
}
@font-face{
	font-family:'Playfair',sans-serif;
	src:url(../fonts/PlayfairDisplay-Regular.ttf),
}
@font-face{
	font-family:'heebo',sans-serif;
	src:url(../fonts/Heebo-Thin.ttf),
	src:url(../fonts/Heebo-Light.ttf),
	src:url(../fonts/Heebo-Medium.ttf),
	src:url(../fonts/Heebo-Regular.ttf),
}
@font-face{
	font-family:'',sans-serif;
	src:url(../fonts/.ttf),
}
@font-face{
	font-family:'',sans-serif;
	src:url(../fonts/.ttf),
}


/* COMMON CSS */
*{padding:0;margin:0;border:0;outline:0;}
html{scroll-behavior:smooth;}
body{
	font-family:'heebo',sans-serif;
	font-size:15px;
	font-weight:300;
	color:#000;
}
ul{	padding:0;	margin:0;}
ul li{list-style-type:none;}
a{text-decoration:none;}
a:focus,a:hover{text-decoration:none;}
.fix{overflow:hidden;}
img{max-width:100%;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
p{padding:0;margin:0;}


.section-sub-title{
	font-family: 'Playfair',serif;
	font-size: 25px;
	font-weight: 500;
	color: #000;
	padding-top: 50px;
	text-align:center;
	letter-spacing:2px;
}
.section-title{
	position:relative;
	padding-top: 65px;
	padding-bottom: 70px;
}
.section-title > h4{
	font-family: 'Playfair',serif;
	font-size: 60px;
	font-weight: 500;
	color: #000;
	text-align:center;
	letter-spacing:2px;
	padding-bottom:15px;
}



#v-line-area{margin-top:0px;}
.v-line{
	height: 1px;
	width: 180px;
	background-color: #C5A349;
	position:relative;
	margin:auto;
}
.s-circle-l, .s-circle-r, .c-square, .b-circle-l, .b-circle-r{
	height:7px;
	width:7px;
	background:#fff;
	border: 1px solid #c5a349;
	transform: translate(-50%,-50%);
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius:50%;
}
.b-circle-l, .b-circle-r{
	height:10px;
	width:10px;
}
.c-square{
	height:16px;
	width:16px;
	border-radius:0;
	transform:rotate(45deg);
	top:-7px;
	left:47%!important;
}
.s-circle-l{left:0;}
.b-circle-l{left:10%;}
.s-circle-r{left:100%;}
.b-circle-r{left:90%;}

.section-info {
	height: auto;
	width: 360px;
	margin: auto;
}
.section-info > p {
	font-family: '', sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #fafcfe;
	text-align: center;
	margin-top: -50px;
	margin-bottom: 80px;
}
.text-{color:#fafcfe!important;}
.text-{color:#616161!important;}

/* CUSTOM CSS STARTS FROM HERE */
/* ================================ */

/* NAVIGATION BAR */
nav {
	width:100%;
	transition:1s all ease-in;
	background: rgba(255,255,255,0.8);
	/* border-bottom: 1px solid #EEEEEE; */
}
nav.black {
	background: rgba(0,0,0,1)!important;
	transition:1s all ease-in;
}

nav img {
	height: 80px!important;
}
nav ul li a{
	font-family:'heebo',sans-serif;
	font-weight:400;
	font-size:15px;
	color:#000!important;
	text-transform:uppercase;
}
nav ul li a:last-child{
	padding-right: 0!important;
}
.navbar-expand-md .navbar-nav .nav-link {
	padding-left: 1.25rem!important;
}

/* MAIN SLIDER */
header{margin-top:-106px;}
.slideshow{
	height:100vh;
	position:relative;
	background-color:rgba(13,44,73,0.5);
	overflow:hidden;
}
.slideshow li{
	
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
	-webkit-animation: imageAnimation 45s linear infinite 0s;
    -moz-animation: imageAnimation 60s linear infinite 0s;
    -o-animation: imageAnimation 60s linear infinite 0s;
    -ms-animation: imageAnimation 60s linear infinite 0s;
    animation: imageAnimation 60s linear infinite 0s;
}
.slideshow li:nth-child(1){
	background-image:linear-gradient(to right,rgba(17,31,66,0.5),rgba(17,31,66,0.4)),url(../img/hero-bg1.jpg);
	-webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
}

.slideshow li:nth-child(2){
	background-image:linear-gradient(to right,rgba(17,31,66,0.5),rgba(17,31,66,0.4)),url(../img/hero-bg2.jpg);
	-webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    -o-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
}

.slideshow li:nth-child(3){
	background-image:linear-gradient(to right,rgba(17,31,66,0.5),rgba(17,31,66,0.4)),url(../img/hero-bg3.jpg);
	-webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s;
}
.slideshow li:nth-child(4){
	background-image:linear-gradient(to right,rgba(17,31,66,0.5),rgba(17,31,66,0.4)),url(../img/hero-bg4.jpg);
	-webkit-animation-delay: 45s;
    -moz-animation-delay: 45s;
    -o-animation-delay: 45s;
    -ms-animation-delay: 45s;
    animation-delay: 45s;
}
@-webkit-keyframes imageAnimation { 
	0% {opacity: 0;-webkit-animation-timing-function: ease-in;}
	2% {opacity: 1;-webkit-transform: scale(1);-webkit-animation-timing-function: ease-out;}
	17% {opacity: 1;-webkit-transform: scale(1);}
	25% {opacity: 1;-webkit-transform: scale(1);}
	27% { opacity: 0 }
	100% { opacity: 0 }
}


.slideshow li div{
	transform:translate(-50%,-50%);
	position:absolute;
	top:60%;
	left:50%;
	text-align:left;
	z-index:999;
}
.slideshow li > div > h6{
	font-family:'ProximaNova',sans-serif;
	font-size:14px;
	text-transform:uppercase;
	font-weight:200;
	letter-spacing:2px;
}
.slideshow li > div > h1 {
	font-family: 'Playfair',serif;
	font-size: 65px;
	font-weight: 400;
	line-height: 65px;
	margin: 15px 0 50px;
}
.slideshow li > div > a {
	font-family:'OpenSans', sans-serif;
	display: inline-block;
	border: 1px solid #fff;
	width: 200px;
	text-align: center;
	color: #fff;
	background: transparent;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 15px;
	height: 50px;
	line-height: 50px;
	font-weight: 300;
	letter-spacing:1px;
}
.slideshow li div a:hover {
	background-color:#fff!important;
	color:#000!important;
}

/* SECTION-2 */

/* TYPEWRITING TEXT */
.text_1 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  transform:translateX(-50%);
  left:50%;
}
.text_1::after {
  content: "|";
  position: absolute;
  right: 0;
}

@keyframes typewriter {
  0%, 100% {width: 0;}
  20%, 80% {width: 10.2em;}
}
@keyframes caret {
	0%, 100% {opacity: 0;}
	50% {opacity: 1;}
}


.text_1 {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter;
  animation-duration: 10s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}.text_1::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}
/* .service-info div { */
	/* margin-bottom:50px; */
/* } */
.service-info div p{
	font-family:'OpenSans', sans-serif;
	font-size:14px;
	color:#555;
}
.service-info{}
#service-icon{
	margin:75px 0 60px;
}
#service-icon div{text-align:center;}
#service-icon div img{height:50px;width:auto;margin-bottom:25px;}
#service-icon div h6 {
	font-family: 'Playfair',serif;
	font-weight: normal;
	color: #BE9939;
	font-size: 18px;
}
.rooms{}
.rooms div h4{
	font-family: 'Playfair',serif;
	font-size: 60px;
	font-weight: 500;
	color: #000;
	line-height: 1;
}
.rooms div:nth-child(1){}
.rooms div p{
	font-family: 'OpenSans', sans-serif;
	font-size: 14px;
	color: #555;
}
.row.rooms {
	display: flex;
	align-items: center;
}

.room-img {
	text-align: center;
	margin-bottom: 30px;
}
.room-img a{
	position:relative;
	display:inline-block;
	height:290px;
	width:350px;
}
.room-img a img{height:100%;width:100%;}
.overlay{
	height:100%;
	width:100%;
	background:rgba(255,255,255,0.9);
	position:absolute;
	left:0;
	top:15px;
	opacity:0;
	transition:0.2s;
}
.overlay-txt{
	width: 260px;
	position:absolute;
	transform:translate(-50%,-50%);
	left:50%;
	top:50%;
	color:#fff;
}
.overlay-txt h5{
	font-family: 'Playfair',serif;
	font-size:30px;
}
.overlay-txt span{
	font-family: 'OpenSans', sans-serif;
    font-size: 12px;
    color: #555;
	text-transform:uppercase;
	letter-spacing:2px;
}
.room-img a:hover .overlay{
	top:0;
	opacity:1;
	transition:0.2s;
}
.room-img a:hover .overlay-txt{
	opacity:1;
	color:#000;
	transition:0.2s;
}
.view-rooms {
	border-bottom:1px solid #EEEEEE;
}
.view-rooms .view-more-rooms{
	height:50px;
	width:200px;
	border-width:1px;  
    border-style:double;
    border-color:#eee;
	margin:0 auto 40px;
	transition:1s;
}
.view-rooms .view-more-rooms a{
	display:block;
	height:100%;
	width:100%;
	line-height:50px;
	font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    color: #555;
	text-transform:uppercase;
	letter-spacing:2px;
	text-align:center;
}
.view-rooms .view-more-rooms:hover{
	border:1px solid #999;
	transition:1s;
}

/* REVIEWS */
.reviews{
	padding-bottom:40px;
	border-bottom:1px solid #EEEEEE;
}
.quation-area {
	padding: 0 100px 35px;
	height: 160px;
	width:100%;
}
.clients-message {
	text-align: center;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 100px;
	animation: testimonials 60s infinite;
	opacity:0;
}
.clients-message blockquote, p {
	font-family: 'OpenSans', sans-serif;
	font-size: 14px;
	color: #555;
}
.clients-message p {
	font-style: italic;
}
.clients-message p a {
	color:#C59E35;
}
.clients-message:nth-child(1) {animation-delay:0s}
.clients-message:nth-child(2) {animation-delay:15s}
.clients-message:nth-child(3) {animation-delay:30s}
.clients-message:nth-child(4) {animation-delay:45s}
@keyframes testimonials {
	0%{opacity:0;}
	5%{opacity:1;}
	23%{opacity:1}
	25%{opacity:0}
	60%{opacity:0}
	100%{opacity:0}
}


/* REVIEWS BOTTOM */
.review2{}
.review2 > .container{max-width:100%;}
.review-info{}
.review-info h6{
	font-family: 'hebbo', sans-serif;
	font-weight:500;
	font-size:11px;
	color:#CCAB56;
	text-transform:uppercase;
	letter-spacing:3px;
} 	/* hebbo 500*/

.review-info h3{
	font-family: 'Playfair',serif;
	font-size:35px;
	font-weight:400;
	padding:20px 0 65px;
}	/* trirong 400 */
.review-info p{
	padding-bottom:40px;
} 	/* hebbo 300*/
.review-info a{
	display:inline-block;
	text-align:center;
	background:#2a2a2a;
	color:#fff;
	font-family: 'hebbo', sans-serif;
	font-weight:300;
	font-size:14px;
	text-transform:uppercase;
	letter-spacing:2px;
	padding:14px 20px;
	transition:0.5s;
}	/* hebbo 300*/
.review-info a:hover{
	background-color:#191919;
	transition:0.5s;
}

/* REVIEWS SECTION-3 */
.review3{
	background:#EEEEEE;
	padding-bottom:35px;
}	
.review-event{
	height:auto;
	width:100%;
	display:block;
	position:relative;

}
.review-event img{
	height:100%;
	width:100%;
}
.ylw-overlay{
	height:100%;
	width:100%;
	background-color:rgba(190,153,57,0.8);
	position:absolute;
	left:0;
	top:0;
	opacity:0;
	transition:0.3s;
}
.overlay-txt{
	position:absolute;
	transform:translate(-50%,-50%);
	left:50%;
	top:50%;
	text-align:center;
}
.overlay-txt img{
	height:80px;
	width:auto;
	opacity:0;
	transition:0.3s;
}
.review-event:hover .ylw-overlay{
	opacity:1;
	transition:0.3s;
}
.review-event:hover .overlay-txt img {
	opacity: 1 !important;
	transition: 0.2s;
}
.review-event:hover .overlay-txt {
	opacity: 1 !important;
	transition: 0.2s;
}
.event-caption{
	background-color:#fff;
	padding:25px 30px;
}
.event-caption h6{
	font-family: 'hebbo', sans-serif;
	font-weight:500;
	font-size:11px;
	color:#CCAB56;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#898989;
	margin-bottom:10px;
}
.event-caption > h4 > a{
	font-family: 'Playfair',serif;
	font-size: 22px;
	color:#202020;
	transition:0.5s;
}

.event-caption > h4 > a:hover{
	color:#BE9939;
	transition:0.5s;
}
.more-event {
	height: 50px;
	width: 200px;
	border: 1px solid #d9d9d9;
	margin: 55px auto 0;
	transition: 0.5s;
}
.more-event a {
	display: block;
	height: 100%;
	width: 100%;
	line-height: 50px;
	font-family: 'OpenSans', sans-serif;
	font-size: 13px;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}
.more-event:hover{
	border: 1px solid #999;
	transition: 0.5s;
}

/* FOOTER */
footer{
	padding:60px 0 35px;
	background:#222;
	color:#fff;
}
footer h4{
	font-family:'heebo',sans-serif;
	font-size:14px;
	font-weight: 300;
	text-transform:uppercase;
	letter-spacing:2px;
	padding-bottom:15px;
}
footer ul li{margin-bottom:8px;}
footer ul li a{
	font-family:'heebo',sans-serif;
	font-size:14px;
	font-weight: 300;
	color:#777;
	position:relative;
}
footer ul li a::after{
	content:"";
	height:1px;
	width:0%;
	background:#BE9939;
	transform:translate(-50%,-50%);
	position:absolute;
	left:50%;
	bottom:-3px;
	transform:scale(1);
	transition:0.3s;
}
footer ul li a:hover:after{
	transform:translate(-50%,-50%)!important;
	left:50%!important;
	bottom:-3px;
	transform:scale(1.2);
	width:100%;
	opacity:1;
	transition:0.3s;
}
.footer-icon img{
	height:60px;
	width:auto;
	padding:0 10px;
}
.copyright p{
	font-family:'heebo',sans-serif;
	font-weight: 300;
	font-size:11px;
	letter-spacing: 3px;
	color: #999;
	text-transform:uppercase;
	text-align:center;
	padding-top:10px;
}
.social-icon{
	text-align:center;
	padding-top:12px;
}
.social-icon a{
	display:inline-block;
	color:#999;
	margin:0 3px;
	transition:0.5s;
	height:35px;
	width:35px;
	border:1px solid transparent;
	text-align:center;
	line-height:35px;
}
.social-icon a:hover{
	color:#BE9939;
	border:1px solid #BE9939;
	transition:0.5s;
}


/* ================= */
/* ACCOMODATION PAGE */
/* ================= */
.accomodation {margin-bottom: 35px;}
.accomodation .section-title {
	padding-top: 50px;
}
.accomodation-info p{
	font-family: 'OpenSans', sans-serif;
	font-size: 14px;
	color: #555;
	text-align:center;
}
.single-img{
	margin-bottom:30px;
}
.single-img img{
	width:100%;
	height:auto;
}
.accomodation-btn button {
	background: transparent;
	color: #000;
	padding: 8px 13px;
	text-transform: uppercase;
	font-family: 'hebbo',sans-serif;
	font-size: 15px;
	margin: 30px 0 !important;
	text-align: center;
	border:0;
	outline:0;
}
/* .accomodation-btn button.active { */
	/* background:#FFC616; */
/* } */

.single-img {
	height: auto;
	width: 100%;
}
.single-img a {
	position: relative;
	display: inline-block;
	height: 100%;
	width: 100%;
}
.single-img a img {
	height: 100%;
	width: 100%;
}
.overlay {
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,0.9);
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: 0.2s;
}
.overlay-txt {
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 55%;
	text-align: center;
	opacity:0;
}
.overlay-txt h5 {
	font-family: 'Playfair',serif;
	font-size: 30px;
	color:#333;
}
.overlay-txt span {
	font-family: 'OpenSans', sans-serif;
	font-size: 12px;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 2px;
	color:#333;
}

.single-img a:hover .overlay {
	opacity: 1;
	transition: ;
	transition: all 0.2s ease-in;
}
.single-img a:hover .overlay-txt {
	opacity: 1;
	transition: ;
	top: 50%;
	transition: all 0.2s ease-in;
}



/*DINING PAGE*/
/*section-1/4 (dinning)*/
.dining-main-section{
	padding:80px 0;
	border-bottom: 1px solid #EEEEEE;
}
.dinnng > h4{
	font-family: 'Playfair',serif;
	font-size: 60px;
	font-weight: 500;
	color: #000;
	text-align: left;
	padding-bottom: 15px;
}
.dinnng > .para1, .para2 {
	font-family: 'OpenSans', sans-serif;
	font-size: 14px;
	color: #555;
}
.dinnng > .para1 strong, .para2 strong{
	font-weight: bold;
}
.dinning-top-img img {
	height: 370px !important;
	width: auto;
	box-shadow: 0px 0px 50px #888;
}


/*section-2/4 (dishes)*/
.favourite-dishes{
	padding-top:0px;
}
.title-tex{
	padding-bottom:60px;
}
.dish-info{
	height: 100%;
	width:100%;
}
.dish-info img{
	height: 100%;
	width:auto;
}
.dish-info h4 {
	font-family: 'Playfair',serif;
	font-size: 25px;
	font-weight: 500;
	color: #000;
	text-align: left;
	padding: 0 30px 10px;
}
.dish-info p{
	padding: 0 30px 0;
}


/*section-3/4 (Dishes choose options)*/
#choose-dish {
	background-color: #F4F2E9;
	padding-bottom: 25px;
}
#choose-dish ul {
	padding-left: 15px;
	margin: 30px 0 35px;
}
#choose-dish ul li {
	margin-right: 18px;
}
#choose-dish ul li a {
	font-family: 'playfair',serif;
	font-size: 21px;
	color: #888;
	padding: 6px 0;
	display: inline-block;
	position: relative;
	border-bottom: 1px solid #cecece;
}
#choose-dish ul li a.active {
	border-bottom: 1px solid #222;
	color:#222;
}

.single-dish {
	padding-bottom: 40px;
}
.dish-title {
	background: transparent;
	color: #444;
	text-transform: uppercase;
	font-family: 'hebbo',sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	margin-bottom: 15px;
}
.single-dish > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px dotted #bbb;
}
.dish-name, .dish-price {
	background: transparent;
	color: #333;
	font-family: 'Playfair',serif;
	font-size: 22px;
	padding-bottom: 8px;
}
.dish-name{}
.dish-price{}
.single-dish > p {
	font-family: 'heebo',sans-serif;
	font-size: 15px;
	color: #999;
	padding-top: 10px;
}

/*section-4/4 (Dishes' picture full-width)*/
.dish-gallery > .container{
	max-width: 100%;
}
.food-single-img{
	height: 100%;
	width: 100%;
}

/*SPA PAGE*/
.spa-main li {
	width: 100%;
	color: #fff;
	background-image: linear-gradient(to top, rgba(255,255,255,1), rgba(255, 255, 255, 0.7)),url(../img/spa/main-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: none;
	height: 100vh!important;
	position: relative;
}
.spa-title{
	
	position: absolute;
	left:50%;
	bottom: 80px;
	transform: translateX(-50%);
	text-align: center;
}
.spa-main .spa-title > h4 {
	font-family: 'Playfair',serif;
	font-size: 60px;
	font-weight: 500;
	color: #66218E;
	text-align: center;
	letter-spacing: -1px;
}

.spa-main .spa-title > img {
	padding: 40px 0px;
	width:280px;
}
.spa-caption h4{
	font-family: 'Playfair',serif;
	font-size: 25px;
	font-weight: 500;
	color: #000;
	letter-spacing: 2px;
}
.spa-caption p{
	font-family: 'heebo',sans-serif;
	font-size: 16px;
	font-weight: 100!important;
	color: #333;
	padding-bottom: 25px;
}

/*SECTION-2/3 PACKAGE TAB*/
.package-compare{
	background-image: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255, 255, 255, 0.5)),url(../img/spa/spa-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	width:100%;
	padding: 0 0 60px;
}
.package-compare ul li{margin-right:5px;}
.package-compare ul li a {
	background: #fafafa;
	transition: all 0.5s ease-in;
	padding: 12px 20px;
	font-size: 20px;
	font-family: 'Playfair',serif;
	color: #848484;
	border-radius: 5px 5px 0 0;
}
.package-compare ul li a:hover {
	background: #F2F2F2;
	transition: all 0.5s ease-in;
}
.package-compare ul li a.active {
	background: #F2F2F2;
	color:#444;
}
.package-compare .dish-title{
	padding-top:30px;
}
#package-compare > h6{
	letter-spacing: 0px;
	padding-left:15px;
	text-align: left!important;
}
#package-compare > p{
	font-family:'heebo',sans-serif;
	font-weight: 100!important;
	padding-left:15px;
	padding-bottom:40px;
	color:#373737;
}


/*SECTION-3/3 MASSAGE-TYPE*/
#massage{
	padding:50px 0;
}
.massage-title {
	padding-bottom: 55px;
}
.massage-title > p {
	padding-top: 10px;
	font-size: 16px;
	color: #444;
}
.massage-type {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0 0 20px;
}
.massage-type img {
	height: 38px;
}
.massage-type h4 {
	font-family: 'Playfair', serif;
	font-size: 25px;
	padding-left: 15px;
	color: #333;
}

/* =============== */
/* ACTIVITIES_PAGE */
/* =============== */
.activities .container{
	max-width:100%!important;
}
.activities-txt{}
.activities-wrapper{
	display:flex;
	align-items:center;
}
.activities-txt h4{
    font-family: '',sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: rgba(190,153,57);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.activities-txt h3{
	font-family: 'Playfair',serif!important;
    font-size: 35px;
    font-weight: 500;
    color: #000;
    line-height: 1;
    padding-top: 10px;
}
.activities-txt p{
	padding-top: 50px!important;
	padding:0 15px;
}

/* ============= */
/* EVENTS_PAGE */
/* ============= */
.event-wrapper{
	border:1px solid #eaeaea;
	margin-bottom:30px;
}
.event-img{
	position:relative;
	height:100%;
	width:100%;
}
.event-img blockquote{
	font-family: 'Playfair',serif;
	font-size:18px;
	padding:30px;
	background:#eee;
}
.event-img img{
	width:100%;
	cursor:pointer;
}
.event-overlay{
	background-color:rgba(190,153,57,0.8);
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	cursor:pointer;
	transition: all 0.2s ease-in;
}
.event-img:hover .event-overlay{
	opacity:1!important;
	transition: all 0.2s ease-in;
	z-index:999;
}
.event-overlay img{
	width:120px;
	position:absolute;
	transform:translate(-50%,-50%);
	top:50%;
	left:50%;
}
.event-info {
	padding:0 30px 35px;
}
.event-info h4 a{
	font-family:'Playfair',serif;
	font-size:25px;
	display:inline-block;
	padding:30px 0 20px;
	color:#111!important;
}
.event-details{}
.event-time{
	font-family:'heebo',sans-serif;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#999;
	padding:30px 0 10px;
}
.event-more a{
	font-family:'heebo',sans-serif;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:3px;
	color:#BA8F38b3;
	transition: all 0.2s ease-in;
}
.event-more a:hover{
	color:#BA8F38;
	transition: all 0.2s ease-in;
}

/* CONTACT PAGE */
.contact-info {
	background-color: #F3EDE4;
	padding: 75px 200px 60px 60px;
	height: 450px;
	margin-left: 15px;
}
.table {
	padding-top:50px;
}
.contact-info table tr td:first-child {
	padding-right:10px;
	border:1px solid transparent;
}
.contact-info table tr td {
	border-top:1px solid transparent;
}
.contact-info table tr td img{
	width:13px;
	height: auto;
}
.contact-info table tr td span{
	font-weight: bold;
}
.contact-map{
	height: 450px;
	margin-right: 15px!important;
}
.location{
	padding: 80px 120px 70px 0;
}
.location h4 {
	font-family: 'Playfair',serif;
	font-size: 25px;
	margin-bottom: 15px;
}
.location p{

}
.address {
	padding: 80px 0 0;
}
.cont-title {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 15px;
}
.phone-no{
	padding: 80px 0 0;
}
.phone-no address span{
	color:#BE9939;
}
.contact-form {
	padding-bottom: 30px;
	margin-top: -10px;
}
.contact-form form span {
	border-bottom: 1px solid #BE9939 ;
	width: 90%;
	padding-bottom: 3px;
}
.contact-form form input{
	border-bottom: 1px solid #e1e1e1 !important;
	width:90%;
}
.contact-form label{
	font-size: .8125rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.message-area textarea {
	width: 94% !important;
	border-bottom: 1px solid #e1e1e1 !important;
	margin-bottom: -4px;
}
.checkbox-area{
	padding-top:35px!important;
}
.check-box{
	width: inherit !important;
}
.condition{
	border-bottom: none !important;
}
.condition a{
	color:#BE9939;
}
.submit-btn{
	padding-top:35px!important;
	text-align: right;
}
.submit-btn button {
	background-color: #BE9939 !important;
	padding: 12px 25px;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.8125rem;
	letter-spacing: 2px;
}











/* MEDIA QUERIES */
@media only screen and (max-width: 767px)  {
	.service-info div {
		margin-bottom:50px;
	}
	#service-icon{
		text-align:center;
	}
	#service-icon div{
		padding-bottom:35px;
	}
	.room-img{
		text-align:center;
		padding-bottom:30px;
	}
	.review-info{
		padding:50px 0;
		text-align:center;
	}
	.review-info img{
		text-align:center!important;
	}
	#one{order:1;}
	#two{order:2;}
	#three{order:4;}
	#four{order:3;}
	.submit-btn button{
		width:100%;
	}

	/*favourite-dishes*/
	
	#col2,#col4,#col6,#col8{
		background: #FFF5EB;
	}
	.dish-info{
		text-align: center!important;
		padding:30px;
		margin-bottom: 10px!important;
	}
	.dish-info h4, p{
		text-align: center!important;
	}
	.dish-img img{
		width: 100%;
	}
	.massage-title > p {
		text-align: left!important;
	}

}
@media only screen and (max-width: 991px) and (min-width: 768px) {
	.event-wrapper{
		margin-bottom:30px!important;
	}
	.dish-img img{
		width:100%;
		height:auto;
	}
	#col2,#col4,#col6,#col8{
		background: #FFF5EB;
		margin-left:30px;
		margin-right:-30px;
	}
}






























